<div>
  <div class= "row h-100" >
    <div class="row w-50 mx-0">
      <%= image_tag "https://images.unsplash.com/photo-1524654458049-e36be0721fa2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80", class: "img--full-height img--background-until-medium" %>
    </div>
    <div class="row w-50 mx-0">
      <div class="container container--full-height container--centered-vh container--overlay-until-medium-dark">
        <h1 class="section-title animated fadeInUp delay-1s">Emerite coding</h1>
        <p class="animated fadeInUp delay-2s">Website creation, iOS development and more</p>
        <a href="/about" class="button button--outline">Learn more</a>
    </div>
  </div> 
</div>
<div class="page-section page-section--light-accent relative">
  <div class="container generic-content-container">
    <p class="text-center" style="font-size: 1.2rem;">Emerite is a company that delivers applications and offers coding classes</h2>
    <div class="row">
      
    </div>
  </div>
</div>

